<div class="slide1" style="background-image: url(../../static/images/final/4.jpg);">
    <div class="slide2" style="position: relative;left: -13% !important;">
        Some Important <br> Django Topics
        <ul>
            <style>
                li {
                    font-size: 20px !important;
                }
            </style>
            <li>
                Django Project & App Creation
            </li>
            <li>
                Django Apps & Paths
            </li>
            <li>Django Response & Render</li>
            <li>Django Models & Views</li>
            <li>Django Admin & Register</li>
            <li>Django Static & Templates</li>
            <li>Run Server</li>
        </ul>
        
    </div>
</div>