<div class="slide1 flip" style="background-image: url(../../static/images/final/4.jpg);">
    <div class="slide2 flip" style="position: relative;left: -13% !important;">
        Pros & Cons
        <ul>
            <h6 style="margin: 0;">Pros</h6>
            <style>
                li {
                    font-size: 20px !important;
                }
            </style>
            <li>
                Python is widely used and vastly more writable than any other languages.
            </li>
            <li>
                Django is Excellent for Big Projects.
            </li>
            <li>Easy Database Management</li>
            <li>Security.</li>
            <li>Speed and scalability</li>
            <li>Larger Community support</li>
        </ul>
        <ul>
            <h6 style="margin: 0;">Cons</h6>
            <style>
                li {
                    font-size: 20px !important;
                }
            </style>
            <li>
                Can't say it's the best for small or tiny projects.
            </li>
            <li>
                You need to know everything in order to work it.
            </li>
            <li>Lack of conventions</li>
        </ul>
    </div>
</div>